.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.nav{
  width: 10vw;
  height: 100vh;
  background-color: rgb(45, 45, 42);
  border-right: 1.2px solid rgb(31, 32, 29);
}
.content{
  width: 90vw;
  background-color: #665a5a;
  display: flex;
  flex-direction: row;
}
